sendex-list-item {
	font:normal 11px tahoma, arial, helvetica, sans-serif;
	padding:3px 10px 3px 10px;
	border:1px solid #fff;
	border-bottom:1px solid #eeeeee;
	white-space:normal;
	color:#555;
	cursor: pointer;
}

sendex-list-item:hover {
	background: #efefef;
}

sendex-list-item h3 {
	display:block;
	font:inherit;
	font-weight:bold;
	font-size: 1.1em;
	line-height: 1.1em;
}